YANDEX_DRIVE_CLIENT_ID=c5e927f03cb84627b490f917f21c296f
YANDEX_DRIVE_CLIENT_SECRET=60f1b81454bd4de8ad5c602bbd177a11

YANDEX_DRIVE_REDIRECT_URI=https://oauth.yandex.ru/verification_code
YANDEX_DRIVE_OAUTH_SCOPE=cloud_api:disk.read,cloud_api:disk.write

YANDEX_DRIVE_TOKEN_FILE=.drive_tokens.json
YANDEX_DRIVE_API_BASE_URL=https://cloud-api.yandex.net/v1/disk
YANDEX_DRIVE_TIMEOUT=30
YANDEX_DRIVE_DOWNLOAD_CHUNK_SIZE=1048576
