YANDEX_CLIENT_ID=c5e927f03cb84627b490f917f21c296f
YANDEX_CLIENT_SECRET=60f1b81454bd4de8ad5c602bbd177a11
YANDEX_EMAIL=vasilevyh_mg@robotech.digital

YANDEX_REDIRECT_URI=https://oauth.yandex.ru/verification_code
YANDEX_OAUTH_SCOPE=mail:imap_full

YANDEX_IMAP_HOST=imap.yandex.com
YANDEX_IMAP_PORT=993
YANDEX_IMAP_MAILBOX=INBOX

YANDEX_TOKEN_FILE=.tokens.json
